* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
        }
    h1{
        font-size: 35px;
    }
    }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: #F5CF8E; /* Yellow */
    }
    h1{
        font-size: 40px;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
      background-color: #B2D6FF; /* Blue */
    }
    h1{
        font-size: 40px;
    }
  }
  body{
    background-image:url(diary5v3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
      font-family: Monotype Corsiva;
      font-weight: 800;
      color: #282828;
      text-shadow: 2px 0 0 #f1e8cf;
      margin:10px 10px;
    }